<div class="container">
    <h1>Categorías</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6" *ngFor="let category of categories">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{category.name}}</h5>
                <a [routerLink]="['/questions', category.id]"
                    routerLinkActive="router-link-active" 
                    class="btn btn-primary">
                    Iniciar Cuestionario
                </a>
            </div>
            </div>
        </div>
    </div>
</div>
